<!doctype html>
<head>
  <title>WEBCred</title>
  <link rel=stylesheet type=text/css href="static/style.css">
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
  <div class=header>
      <div class="left">
        <a href="https://www.iiit.ac.in/"><img  src="static/iiit-new.png" alt="iiit-logo" /></a>
        <a href="https://serc.iiit.ac.in/"><img src="static/SERClogo.png" alt="iiit-logo" /></a>
      </div>
    <div class=page>
      <center>
        <h1>WEBCred</h1>
        <sub>(A tool to assess Relevence Based Web Page Credibility Score)</sub>
      </center>
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}

    </div>
    <div class="right">
    </div>

  </div>
</body>
<footer>
<center>
 <p> <a href="https://docs.google.com/document/d/1e_FLu-IyrTOBbyf1Z7QHEOJGHR3VsPWQ_okYjPnH-zc/edit?usp=sharing">Documentation</a> of WEBCred</p>
  <p>For any query, contact at: <a href="mailto:abhishek.mathur@students.iiit.ac.in">
 abhishek.mathur@students.iiit.ac.in</a>.</p>
 <p><a href="https://github.com/Shriyanshagro/WEBCred">Source Code</a></p>
</center>
</footer>
